header.header
  .slider#js-slider
    .slider_item
      .circle
        .circle_logo
      h1.heading Be sure you put your feet <br>
        strong.heading_bold in the right place
    .slider_item
      .circle
        .circle_logo
      h1.heading Be sure you put your feet <br>
        strong.heading_bold in the right place
  form.zip-code#js-zip-code
    input.zip-code_code(type="text" placeholder="Enter your zip code" name="code")
    .carousel.js-first.carousel--top
      img.carousel_item(src="img/Layer 3.png")
      img.carousel_item(src="img/Layer 13.png")
      img.carousel_item(src="img/Layer 6.png")
      img.carousel_item(src="img/Layer 7.png")
      img.carousel_item(src="img/Layer 5.png")
      img.carousel_item(src="img/Layer 3.png")
      img.carousel_item(src="img/Layer 13.png")
      img.carousel_item(src="img/Layer 6.png")
      img.carousel_item(src="img/Layer 7.png")
      img.carousel_item(src="img/Layer 5.png")
    .carousel.js-second.carousel--offset
      img.carousel_item(src="img/Layer 9.png")
      img.carousel_item(src="img/Layer 15.png")
      img.carousel_item(src="img/Layer 14.png")
      img.carousel_item(src="img/Layer 4.png")
      img.carousel_item(src="img/Layer 12.png")
      img.carousel_item(src="img/Layer 9.png")
      img.carousel_item(src="img/Layer 15.png")
      img.carousel_item(src="img/Layer 14.png")
      img.carousel_item(src="img/Layer 4.png")
      img.carousel_item(src="img/Layer 12.png")
    p.zip-code_text This is Photoshop's version  of Lorem Ipsum.
    button.zip-code_btn(type="submit") Press me


.main